<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407DD0808D44FBDC" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.3324.17665" newVersion="1.0.3324.17665"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.DynamicProxy" publicKeyToken="407DD0808D44FBDC" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.3324.17667" newVersion="1.0.3324.17667"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
