<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<properties resource="database.config"/>
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>

	<!-- ==== SqlClient configuration =========	-->
	<database>
		<provider name="sqlServer2.0"/>
		<dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
	</database>

  <alias>
    <typeAlias alias="stringMap" type="jingxian.data.PropertiesTypeHandler,jingxian.commons"/>
  </alias>

  <typeHandlers>
    <typeHandler type="jingxian.collections.Properties,jingxian.commons" dbType="Text" callback="stringMap"/>
  </typeHandlers>
  
	<sqlMaps>
    <sqlMap resource="Maps/MSSQL/dbo_Contact.xml"/>
    <sqlMap resource="Maps/MSSQL/dbo_ContactGroup.xml"/>
    <sqlMap resource="Maps/MSSQL/dbo_DtProperties.xml"/>
    <sqlMap resource="Maps/MSSQL/dbo_Filter.xml"/>
    <sqlMap resource="Maps/MSSQL/dbo_Folder.xml"/>
    <sqlMap resource="Maps/MSSQL/dbo_Message.xml"/>
    <sqlMap resource="Maps/MSSQL/dbo_Note.xml"/>
    <sqlMap resource="Maps/MSSQL/dbo_Parameter.xml"/>
    <sqlMap resource="Maps/MSSQL/dbo_Server.xml"/>
    <sqlMap resource="Maps/MSSQL/dbo_Signature.xml"/>
    <sqlMap resource="Maps/MSSQL/dbo_generateTable.xml"/>
  </sqlMaps>
</sqlMapConfig>
