<?xml version="1.0" encoding="utf-8" ?> 
<settings>
	<!--   User application and configured property settings go here.-->
	<!--   Example: <add key="settingName" value="settingValue"/> -->
	<add key="userid" value="sa" />
	<add key="password" value="" />
	<add key="database" value="jingxian_mailer" />
	<add key="datasource" value="localhost" />
	<add key="useridHibernate" value="NHibernate" />
	<add key="databaseHibernate" value="NHibernate" />
	<add key="driverOdbc" value="{SQL Server}" />
</settings>