body{
   font-family: verdana, arial, sans-serif;
   color: black;   
   background: url(img/empinia_tree.png) no-repeat scroll right bottom;
   
}

/*-- Class Settings --*/
.content_left, .content_right {
   margin: 10px;  
   margin-bottom: 40px;   
     
}

div#header {
   height: 84px;
   position: relative;
   margin-bottom: 20px;
   padding: 0;
   background: url(img/empinia.png) no-repeat scroll top left;   		
}

/* --Content Settings-- */
div#content {      
   margin-left: 30px;     
   clear: both;
   float: left; 
   
        
}
div#content h1 {   
   font-size: x-large;
}
div#content h2 {
   font-size: medium;
   margin-bottom: 5px;
   color: #016e35;          
}
div#content p {
   font-size: small;   
   margin-top: 0px; 
   margin-left: 0px;
   margin-bottom: 10px;
}
div#content ul {
   margin-top: 0px;
   margin-left: 5px;  
   margin-bottom: 20px;     
}
div#content li {
   list-style: none;	
   margin-bottom: 2px;
}
div#content li p {
   padding-left: 25px;	
   
}

div#content li a {
   font-size: small;  
   margin: 0;
   padding: 0; 
   padding-left: 25px;
}
div#content a:link, div#content a:visited {
   text-decoration: none;
   color: black;  
}
div#content a:hover {
   text-decoration: underline;   
}

/* Header */
div#header h1 {
   margin-top: 30px;            
}

/* Main Left */
div#row_left {
   margin-right: 60px;
   padding: 0;   
   width: 45%;
   float: left;      
}

/* Main Right */
div#row_right {   
   margin: 0;
   padding: 0; 
   float: left;    
   width: 49%;  /* need for Firefox! */   
}

/* Image settings */
img {
   float: left;
   margin-right: 15px;       
}


li#gs_newproj a {
   background: transparent url(img/page_add.png) no-repeat 0 0;   
}
li#gs_newproj a:hover {
   background: transparent url(img/page_add2.png) no-repeat 0 0;   
}

li#gs_openproj a {
   background: transparent url(img/folder_go.png) no-repeat 0 0;   
}
li#gs_openproj a:hover {
   background: transparent url(img/folder_go2.png) no-repeat 0 0;   
}
li#dev_fram a {
   background: transparent url(img/plugin.png) no-repeat 0 0;   
}
li#dev_fram a:hover {
   background: transparent url(img/plugin2.png) no-repeat 0 0;   
}
li#dev_video a {
   background: transparent url(img/film.png) no-repeat 0 0;   
}
li#dev_video a:hover {
   background: transparent url(img/film2.png) no-repeat 0 0;   
}
li#dev_empinia a {
   background: transparent url(img/world.png) no-repeat 0 0;   
}
li#dev_empinia a:hover {
   background: transparent url(img/world2.png) no-repeat 0 0;   
}
li#feat_livelog a {
   background: transparent url(img/application_osx_terminal.png) no-repeat 0 0;   
}
li#feat_livelog a:hover {
   background: transparent url(img/application_osx_terminal2.png) no-repeat 0 0;      
}

li#feat_propedit a {
   background: transparent url(img/application_edit.png) no-repeat 0 0;   
}
li#feat_propedit a:hover {
   background: transparent url(img/application_edit2.png) no-repeat 0 0;      
}

li#feat_pref a {
   background: transparent url(img/cog.png) no-repeat 0 0;   
}
li#feat_pref a:hover {
   background: transparent url(img/cog2.png) no-repeat 0 0;   
}
li#feat_introspec a {
   background: transparent url(img/wrench.png) no-repeat 0 0;   
}
li#feat_introspec a:hover {
   background: transparent url(img/wrench2.png) no-repeat 0 0;   
}
li#feat_perspectives a {
   background: transparent url(img/layout.png) no-repeat 0 0;   
}
li#feat_perspectives a:hover {
   background: transparent url(img/layout2.png) no-repeat 0 0;   
}